.mh-service-box{
	box-shadow:var(--shadow-4);
	padding: 30px 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: var(--transition-03);
  > * {
    transition: var(--transition-03);
    transform: translateY(20px);
  }
  .box-icon {
    i{
      font-size: 55px;
      color:var(--color-primary);
    }
  }
  .icon-btn{
    opacity: 0;
    font-size: 25px;
    display: inline-block;
    color: var(--color-white);
    > *{
      transition: var(--transition-03);
    }
  }
  &:hover{
    background: var(--color-primary);
    .title, .description, .box-icon i{
      color: var(--color-white);
    }
    .icon-btn{
      opacity: 1;
      &:hover {
        i{
          transform: rotate(-30deg);
        }
      }
    }
    > *{
      transform: translateY(0px);
    }
  }
}